# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Study\springcloud2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/.idea/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr